/* CSS/animation.css */
body {
  background-color: rgb(170, 209, 209);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.animation-container {
  text-align: center;
  position: relative;
}

/* plant */
.plant {
  position: relative;
}

/* pot */ 
.pot {
  width: 60px;
  height: 40px;
  background-color: #a0522d;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

/* Stem */
.stem {
  position:absolute;
  left: 50%;
  bottom: 40px;
  width: 12px;
  height: 0;
  transform: translateX(-50%);
  background: #228b22;
  border-radius: 6px;
  z-index: 1;
  transform-origin: bottom;
  animation: stemGrow 2s ease-out 0.6s forwards;
}

/* leaves */
.leaf {
  /*top: -35px;*/
  width: 30px;
  height: 15px;
  background-color: #2e8b57;
  border-radius: 15px 0;
  position: absolute;
  opacity: 0;
  transform: scale(0.5);
}

/* Left leaf */
.leaf1 {
  top: -35px;
  left: calc(50% - 30px);
  transform: rotate(-30deg) scale(0.5);
  transform-origin: right center;
  animation: growLeaf 1.5s 2.5s forwards;
}
/* Right leaf */
.leaf2 {
  top: -35px;
  left: calc(50% + 5px);
  transform: rotate(30deg) scale(0.5);
  transform-origin: left center;
  animation: growLeaf 1.5s 3s forwards;
}

/* Watering can */
.watering-can {
  width: 50px;
  height: 30px;
  background-color: #1e90ff;
  position: absolute;
  top: -150px;
  left: 120px;
  border-radius: 5px;
  animation: moveCan 1.5s forwards;
}

/*Handle*/
.handle {
  width: 30px;
  height: 25px;
  border: 3px solid #1e90ff;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 30px;
}

/*Spout*/
.spout {
  width: 25px;
  height: 6px;
  background-color: #1e90ff;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: rotate(30deg);
}

/*Water drops*/
.water-drop {
  width: 8px;
  height: 8px;
  background-color: #1e90ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.drop1 {
  animation: drop 1s infinite;
  animation-delay: 1.8s;
}

.drop2 {
  animation: drop 1s infinite;
  animation-delay: 2.1s;
}

.drop3 {
  animation: drop 1s infinite;
  animation-delay: 2.4s;
}


/* Animation */
@keyframes stemGrow {
  from { height: 0px;}
  to {height: 50px;}
}

/* Leaf animation */
@keyframes growLeaf {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}

/*move can*/
@keyframes moveCan {
  to {transform: translate(-60px, 40px) rotate(-50deg);}
}

@keyframes drop {
  0% {top: -65px; left: 45px; opacity: 1;}
  100% {
    top: 5px;
    left: 30px;
    opacity: 0;
  }
}
